{% extends 'manage/base.html' %}

{% block style %}
    <style>
        .pushService{margin-top: 5px;}
        .pushService ul li{float: left; width: 40%; height: 30px;}
        .pushService ul li div{width: 100%; height: 100%; overflow: hidden; background-color:gray;}
        .pushService ul li div a{display: block; width: 100%; height: 100%; font-size: 10px;}
        /* .pushService ul li button:hover{border: 1px solid blue;} */
        /* .pushService button{width: 40%;height: 30px; margin-left: 10%; background-color: lightgreen;}
        .pushService button:hover{border: 1px solid blue;} */
        .Main{width: 90%; position: relative; margin-top: 20px;}
        .Main table{width: 100%;}
        .CRUD{width: 50%;height: 36px;margin-top: 5px; font-size: 10px;}
        .CRUD a{width: 40%; display: block; height: 100%;text-align: center; line-height: 36px; background-color: gray;margin-left: 5%;}
    </style>
{% endblock %}

{% block content %}
<div id="MainView" class="l">
    <div class="topBar clear">
        <div class="pushService l">
            <ul>
                <li>
                    <div>
                        <a href="{{url_for('manage.addservice')}}">服务发布</a>
                    </div>
                </li>
                {% if g.user['level'] >= 16 %}
                <li>
                    <div>
                        <a>服务列表</a>
                    </div>
                </li>
                {% endif %}
                <li>
                    <div>
                        <a onclick="">服务撤销</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="explore r">
            <input type="text" placeholder="请输入搜索的编号" id="searchId">
            <a id="runSearch">搜索</a>
        </div>
        <div class="CRUD l">
            <a class="l">服务申请</a>
            {% if g.user['level'] >= 16 %}
            <a class="l" href="{{url_for('manage.spread')}}">服务分配</a>
            {% endif %}
        </div>
    </div>
    <div class="Main">
        <table border="1">
            <thead>
                <td><input type="checkbox" id="MainCheck"></td>
                <td>编号</td>
                <td>员工ID</td>
                <td>员工姓名</td>
                <td>服务类型</td>
                <td>员工联系方式</td>
                <td>客户联系方式</td>
                <td>客户联系地址</td>
                <td>注册日期</td>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        // axios({
        //         method: 'get',
        //         url: '/'
        //     })
        function sendService(){
            // axios({
            //     method: 'get',
            //     url: '/'
            // })
        }
    </script>
{% endblock %}