{% extends 'manage/base.html' %}

{% block style %}
<!-- <link rel="stylesheet" href="../static/css/common.css"> -->
<style>
  .Main{width: 90%; position: relative; margin-top: 20px;}
  .Main table{width: 100%;}
</style>
{% endblock %}

{% block content %}
<div id="MainView" class="l">
  <div class="topBar clear">
      <div class="Show l">
      </div>
      <div class="explore l">
          <input type="text" placeholder="请输入搜索的编号" id="searchId">
          <a id="runSearch">搜索</a>
      </div>
  </div>
  <div class="Main l">
      <table border="1" style="text-align: center;">
          <tr>
              <td><input type="checkbox" id="MainCheck"></td>
              <td>ID</td>
              <td>账号</td>
              <td>用户名</td>
              <td>直接上级</td>
              <td>客户类型</td>
              <td>邮箱</td>
              <td>手机号</td>
              <td>激活</td>
              <td>注册日期</td>
          </tr>
            {% for user in userInfo %}
            <tr>
                <td><input type="checkbox" id="MainCheck"></td>
                <td>[[user.id]]</td>
                <td>[[user.account]]</td>
                <td>[[user.username]]</td>
                <td>[[user.maccount]]</td>
                {% if user.level == 1 %}
                <td>普通用户</td>
                {% elif user.level == 2 %}
                <td>高级用户</td>
                {% elif user.level == 4 %}
                <td>线下员工</td>
                {% elif user.level == 8 %}
                <td>员工</td>
                {% elif user.level == 16 %}
                <td>经理</td>
                {% elif user.level == 32 %}
                <td>总监</td>
                {% elif user.level == 64 %}
                <td>管理员</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>[[user.email]]</td>
                <td>[[user.telephone]]</td>
                <td>[[user.actived]]</td>
                <td>[[user.pub_date]]</td>
            </tr>
            {% endfor %}
      </table>
  </div>
</div>
{% endblock %}