{% extends 'service/base.html' %}

{% block style %}
<style>
    .Mid{display: grid; grid-template-columns: repeat(12, 1fr); height: 210px;
         background-color: lightpink; border-radius: 5%;}
    .Mid .leftPhoto{height: 200px; background-color: rebeccapurple; grid-column-start: 2; grid-column-end: 4; margin-top: 5px;}
    /* .Mid .top .leftPhoto{grid-column-start: 3; grid-column-end: 8; background-color: rosybrown; height: 100%;} */
    .Mid .midBar{height: 200px; background-color: lightseagreen; grid-column-start: 6; grid-column-end: 9; margin-top: 5px;}
    .Mid .leftBar{height: 200px; background-color: lightseagreen; grid-column-start: 10; grid-column-end: 12; margin-top: 5px;}
    .Mid .PhotoList{ width: 80%;}
    .midBar div{margin-top: 20px;}
    .midBar span{margin-left: 10%;}
    .leftBar div{margin-top: 20px;}
    .leftBar span{margin-left: 10%;}
    .PhotoList ul{margin: 0 auto;}
    .PhotoList ul li{float: left; width: 20%; margin-left: 4%; margin-top: 5px;border: 1px solid black;}
    .PhotoList .botHref a{}
    .confirmbtn{margin-top: 30px;}
    .confirmbtn a{display: block; width: 20%; height: 30px; background-color: green; line-height: 30px;text-align: center; margin: 0 auto;}
    .confirmbtn a:hover{border: 1px solid blue;}
</style>
{% endblock %}
{% block content %}
<div class="Mid container">
    <div class="leftPhoto">
        <img src="[[url_for('static', filename=serviceInfo.head_photo)]]" width="100%" height="100%" style="border-radius: 10%;" alt="头像">
    </div>
    <div class="midBar">
        <div>
            <span>姓名： [[userInfo.username]]</span>
        </div>
        <div>
            <span>年龄： [[userInfo.age]]</span>
        </div>
        <div>
            <span>服务宣言： 踏踏实实勤勤恳恳</span>
        </div>
    </div>
    <div class="leftBar">
        <div>
            <span>工薪： [[serviceInfo.avg_salary]]</span>

        </div>
        <div>
            {% if serviceInfo.serviceType == 1 %}
            <span>服务类型： 清洁工</span>
            {% elif serviceInfo.serviceType == 2 %}
            <span>服务类型： 保姆</span>
            {% else %}
            <span>服务类型： NULL</span>
            {% endif %}
        </div>
        <div>
            {% if serviceInfo.timeType == 1 %}
            <span>时间类型： 小时工</span>
            {% elif serviceInfo.timeType == 2 %}
            <span>时间类型： 普通</span>
            {% elif serviceInfo.timeType == 4 %}
            <span>时间类型： 高级小时工</span>
            {% elif serviceInfo.timeType == 8 %}
            <span>时间类型： 高级普通</span>
            {% else %}
            <span>时间类型： NULL</span>
            {% endif %}
        </div>
    </div>
</div>
<div class="PhotoList container">
    <h1>照片集</h1>
    <ul class="clear">
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
        <li>
            <div>
                <img src="[[url_for('static', filename='img/Worker.jpg')]]" width="100%">
            </div>
        </li>
    </ul>
    <div class="botHref">
        <a class="r">>>>更多</a>
    </div>
</div>
<div class="confirmbtn container">
    <a href="[[url_for('service.confirmService', id=serviceInfo.id)]]">预约</a>
</div>

{% endblock %}