{% extends 'service/base.html' %}
{% block title %}
    <title>我爱我家</title>
{% endblock %}

{% block style %}
    <style>
        .MidView{width: 100%; position: relative;}
        .MidView .midPhoto img{margin: 0 auto;}
        .jiaservice{width: 80%; margin: 0 auto; position: relative;}
        .jiaservice h1{text-align: center;}
        .jiaservice ul {width: 100%; margin-top: 20px;}
        .jiaservice ul li{float: left; width: 20%; height: 230px; margin: 2%; display: block;}
        .jiaservice ul li .worker{width: 100%; height: 100%; border-radius: 20px; margin: 5%; border: 1px solid black;}
        .jiaservice ul li .worker .workershow{width: 80%; height: 18%; margin: 0 auto;}
        .jiaservice ul li .worker h5{text-align: center;}
        .jiaservice ul li .worker .confirmBtn{margin: 0 auto; width: 30%; display: block; background-color: chartreuse; text-align: center;}
        .jiaservice ul li .worker .confirmBtn:hover{border: 1px solid blue; cursor: pointer;}
        .bottomBtn a{display: block; font-size: 18px; font-weight: bold;}
    </style>
{% endblock %}

{% block content %}
<div class="MidView container-fluid">
    <div class="midPhoto container">
        <img src="{{url_for('static', filename='img/JiaZheng.jpeg')}}" width="90%" height="400px"></img>
    </div>
</div>
<div class="jiaservice">
    <div>
        <h1>开始您的爱家旅行</h1>
    </div>
    <div>
        <ul class="clear">
            {% for service in serviceInfo %}
            <li>
                <div class="worker">
                    <a><img src="{{url_for('static', filename=service.head_photo)}}" alt="1" width="98%" height="60%" style="border-radius: 10% ; margin: 0 auto;"></a>
                    <h5>{{service.user_account}}</h5>
                    <div class="workershow">
                        <p style="text-overflow: ellipsis; overflow: hidden;">简介 ： 年轻漂亮勤劳勇敢年</p>
                    </div>
                    <a href="{{url_for('service.appointment', id=service.id)}}" class="confirmBtn clear">预约</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="bottomBtn" style="width: 80%; margin: 0 auto;">
            <a href="#" class="l">上一页</a>
            <a href="#" class="r">下一页</a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}