*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul, ol{list-style: none;}
.container{width:100%; margin:0 auto; position: relative;}
.container-fluid{width: 100%;}
img{display: block;}
h1, h2, h3{ font-size: 16px;}
.clear:after{ content: ''; clear:both; display: block;}

.l{float: left;}
.r{float: right;}
body{background-color: lightyellow;}
#top{height: 60px; margin-top: 2px; min-width: 480px; position: relative; font-weight: bold;}
#logo{width: 40; height: 40px; margin-top: 10px; margin-left: 30px;}

#menu{line-height: 60px; font-size: 20px; margin-left: 100px;}
#menu li{float: left; margin-left: 30px;}
#menu a{color: black; font-weight: bold;}
#menu a:nth-child(1){margin-left: 80px;}

#top .Loginmenu{line-height: 60px; margin-right: 30px;}
#top .Loginmenu li{float: right; margin-left: 30px;}

#bottom{margin-top: 80px; height: 50px; line-height: 50px; background-color:lightseagreen; position: relative;}
#bottom p {float: left;}
#bottom a {float: right; margin-left: 20px; color:black;}


#top .title{margin: 0 auto; height: 60px; line-height: 60px; width: 400px;}
#top .title p{font-size: 30px;}
#top .MainInfo{width: 100px; position: relative; right: 30px; top: -45px; line-height: 50px;}
#top .MainInfo ul {display: none;}
#top .MainInfo:hover ul{display: block;}
#top .MainInfo li a{display: block; width: 100%; height: 100%;}
#top .MainInfo li:hover {background-color: gray;}