{% extends 'User/base.html' %}

{% block title%}
    <title>我的资料</title>
{% endblock %}

{% block style %}
    <style>
        .UserBaseInfo table{margin: 10px auto; width: 100%; text-align: center; }
        .UserBaseInfo table{}
        .UserBaseInfo .serverInfo{background-color: cornsilk;}
        .UserBaseInfo .editButton{margin: 0 auto; width: 15%; height: 30px;background-color: aqua;
           border-radius: 5px; text-align: center; line-height: 30px;}
        .UserBaseInfo .editButton a{display: block; width: 100%; height: 100%; color: black;}
        .UserBaseInfo .editButton a:hover{border: 1px solid blue; border-radius: 5px;}
    </style>
{% endblock %}


{% block content %}
    <div class="UserBaseInfo r">
      <div class="clear">
        <h1 class="l">完善程度:</h1>
        <div id="progress"></div>
        <!-- <progress class="l" max="10" value="2" id="progress" style="width: 70%; margin-top: 6px; margin-left: 2%;"></progress> -->
      </div>
      <div><h1 style="text-align: center;">基本信息</h1></div>
      <table border="1">
        <tr>
          <td colspan="8">您的资料</td>
        </tr>
        <tr>
          <td class="serverInfo">姓名</td>
          <td class="userData">[[g.user['username']]]</td>
          <td class="serverInfo">账号</td>
          <td class="userData">[[g.user['account']]]</td>
          <td class="serverInfo">性别</td>
          <td class="userData">
            {% if g.user['sex'] == None %}
              未知
            {% else %}
              {% if g.user['sex'] == True %}
                男
              {% else %}
                女
              {% endif  %}
            {% endif %}
          </td>
          <td class="serverInfo">年龄</td>
          <td class="userData">
          {% if g.user['age']%}
            [[g.user['age']]]
          {% else %}
            0
          {% endif %}</td>

        </tr>
        <tr>
          <td class="serverInfo">系统角色</td>
          <td class="userData">[[g.user['level']]]</td>
          <td class="serverInfo">手机号</td>
          <td class="userData">[[g.user['telephone']]]</td>
          <td class="serverInfo">邮箱</td>
          <td class="userData">[[g.user['email']]]</td>
          <td class="serverInfo">出生日期</td>
          <td class="userData">1998-03-19</td>

        </tr>
        <tr>
          <td class="serverInfo">现在住址</td>
          <td colspan="2" class="userData"></td>
          <td class="serverInfo">籍贯</td>
          <td colspan="2" class="userData"></td>
          <td class="serverInfo">身份证</td>
          <td class="userData"></td>
        </tr>
        <tr>
          <td class="serverInfo">紧急联系人</td>
          <td colspan="3" class="userData"></td>
          <td class="serverInfo">紧急联系人方式</td>
          <td colspan="3" class="userData"></td>
        </tr>
      </table>
      <div class="editButton">
        {% if g.user['actived'] %}
          <a href="[[url_for('user.actived')]]">修改信息</a>
        {% else %}
          <a href="[[url_for('user.actived')]]">去激活</a>
        {% endif %}
      </div>
    </div>
{% endblock %}

{% block script %}
<script>
var sum = document.getElementsByClassName("userData");
var sumNum = sum.length;
var numNum = 0;
console.log(sumNum);
for(data in sum){
  console.log(sum[data].innerHTML);
  if( sum[data].innerHTML == "None" && sum[data].innerHTML == 0 && sum[data].innerHTML=="未知"){
    numNum = numNum + 1;
  }
}
console.log(numNum + 1);
var pro = $("<progress class='l' id='progress' max='10' value='2' style='width: 70%; margin-top: 6px; margin-left: 2%;'></progress>")
// pro.className = 'r'
$("#progress").append(pro)
</script>
{% endblock %}